@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:ital,wght@1,500&display=swap');

:root {
  /* Colors */
  --background-color: #2e2e48;
  --color-dark-dark: #27273d;
  --color-highlight: #41415c;
  --color-hightlight-alpha: rgba(65, 65, 92, 0.90);
  --color-hightlight-alpha: rgba(33, 33, 44, 0.77);
  --text-color: #a8a8c7;
  --text-color: #d5d5f8;
  --text-color-light: #ccccf1;
  --color-orange: #ff703a;
  --color-pink: #ff4167;
  --color-green: #5dd267;

  /* Sizes */
  --size-small: 0.5em;
  --size-default: 1em;
  --size-intermediate: 1.2em;
  --size-large: 2em;
  --size-largest: 4em;


  /* Fonts */
  --text-header-font: 'Rubik', arial;
  --text-font: 'Roboto', sans-serif;
}

*:not(i), *:is(::before, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: var(--background-color);
  background-image: url('/img/rs_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 {
  color: var(--text-color);
  font-family: var(--text-header-font);
}
p, a, legend, ul, li, div {
  color: var(--text-color-light);
  font-family: var(--text-font);
}
body {
  display: grid;
  grid-template-areas: 
    "grid-header"
    "grid-content"
    "grid-footer"
    "grid-nav";
  
  padding-bottom: var(--size-largest);
  text-align: center;
}
header {
  grid-area: grid-header;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-large);
  min-height: var(--size-largest);
}
nav {
  grid-area: grid-nav;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  margin: var(--size-small);
  width: calc(100% - var(--size-small) - var(--size-small));
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--color-hightlight-alpha);
  border-radius: var(--size-large);
  z-index: 1;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
nav .fas {display: block;}
nav a > * {
  display: inline-flex;
  font-size: var(--size-default);
  line-height: var(--size-largest);
}
nav a i {
  margin: 0.5em 0 -1.2em;
}
main {
  padding: var(--size-default);
}
h1 {word-wrap: break-word;
  hyphens: auto;
}
a { text-decoration: none; }
a:link { color: var(--text-color); }
a:hover { color: var(--text-color); }
a:visited { color: var(--text-color); }
a:active { color: var(--text-color); }
footer {
  display: flex;
  flex-flow: row wrap;
  margin-top: var(--size-largest);
  margin-bottom: var(--size-largest);
  margin: var(--size-small) 0;
  padding: var(--size-default);
}
footer > * {
  flex: 1 100%;
}
footer ul {
  margin: var(--size-small) 0;
  padding: var(--size-default);
  background: var(--color-highlight);
  border-radius: var(--size-default);
  gap: 2em;
}
footer li {
  display: block;
  list-style: none;
  gap: 2em;
}
blockquote {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  justify-content: center;
  align-items: center;

  margin: var(--size-large) 0 var(--size-small) 0;
  padding: var(--size-default) var(--size-small);
  background: var(--color-highlight);
  border-radius: var(--size-default);
}
blockquote li {
  list-style-type: none;
}

blockquote h3 { 
  margin-top: var(--size-default);
  font-size: var(--size-large);
}
blockquote p {
  margin-top: var(--size-large);
  font-size: var(--size-intermediate);
}
blockquote strong {
  font-size: var(--size-intermediate);
}
code {
  margin: var(--size-default);
  padding: var(--size-default);
  display: block;
  background:rgba(33, 33, 44, 0.77);
  color:rgb(243, 186, 64);
  text-align: left;
  line-height: var(--size-large);
}


/* ID */
#logo {
  width: var(--size-largest);
  height: var(--size-largest);
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--color-dark-dark), var(--color-hightlight-alpha), var(--color-dark-dark));
  box-shadow:  2px  2px 8px #ff703a,
              -2px -2px 8px #ff703a,
              -8px  8px 12px #41415c,
               8px -8px 24px #fff9f7,
              
              inset  4px  8px 12px #41415c,
              inset -8px -4px 12px #41415c,
              inset -20px  12px 0px #ff4167,
              inset  16px -16px 26px #ff4167;
  
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 50%;
  max-height: 250px;
  width: 50%;
}
.circle {
  stroke: var(--color-pink);
  fill: rgba(0,0,0,0.1);
  stroke-width: 2.8;
  stroke-linecap: round;
}
.c1 {
  animation: progress-1 5s ease-out forwards;
}
@keyframes progress-1 {
  0% {
    stroke-dasharray: 5 5;
  }
  72% {
    stroke-dasharray: 33 13;
  }
}

.button {
  margin: var(--size-small);
  padding: var(--size-small);
  width: auto;
  height: 4em;
  min-height: var(--size-largest);
  border-radius: var(--size-default);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button > span { display: inline-block; }
.text { color: var(--text-color-light); }
.nav-link {
  line-height: var(--size-default);
  font-size: var(--size-default);
}

.card {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  justify-content: center;
  align-items: center;

  margin: var(--size-small) 0;
  padding: var(--size-default);
  width: 100%;
  height: auto;
  background: var(--color-highlight);
  border-radius: var(--size-default);
}
.card > :is(h1, h2, h3, h4, h5) {
  margin-bottom: var(--size-small);
}

#state-nav {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: var(--size-large);
}
#state-nav div > ul {
  width: 100%;
  flex: 1 100%;
  padding: var(--size-small);
  background: var(--color-dark-dark);
  border-radius: var(--size-large);
}
#state-nav div {
  margin: 0 auto;
}
#state-nav li {
  display: inline-flex;
  flex: 1 100%;
  list-style: none;
}
#state-nav li a {
  font-size: 1em;
  color: #fff;
  padding: var(--size-default) var(--size-intermediate);
  border-radius: var(--size-large);
}
#state-nav li a:active {
  background: var(--color-highlight);
}
#state-nav li a:focus {
  background: var(--color-highlight);
}
#state-nav button {
  padding: var(--size-default);
  color: var(--text-color-light);
  font-size: var(--size-default);
  background: inherit;
  border: inherit;
  border-radius: var(--size-largest);

  transition: 0.1s;
}
#state-nav button:hover { 
  color: var(--color-highlight);
  background: var(--color-pink);
}

.active {
  background: var(--color-highlight);
}
.inactive {
  background: inherit;
}


/*
elem {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}
*/
